.cart_list_container{
    width: var(--container_width_lg);
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    column-gap: 1.5rem;
    row-gap: 5rem;
    margin: auto;
}

.cart_items{
    width: 12rem;
    height: 16rem;
    line-height: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 6px;
    box-shadow: var(--primary_box_shadow);
}

.cart_items img{
    width: 100%;
    height: 7rem;
    border-radius: 4px;
}

 .cart_items p{
    text-align: center;
    width: 8rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart_items form{
    width: 100%;
    height: 2.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.cart_items form input{
    width: 90%;
	height: 2rem;
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
	background: var(--tranparent_black);
	border: 2px solid var(--hover_color);
}

.cart_items form input:focus{
    outline: none;
	box-shadow: var(--focused_box_shadow);
}


.descriptions{
    width: 100%;
    height: 3rem;
    padding: 1rem;
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.descriptions .btn{
    padding: 0.5rem 0.4rem;
    border-radius: 5px;
    text-align: center;
    width: 8rem;
    font-size: 1rem;
}

.descriptions .btn:nth-child(1):hover{
    background: var(--danger_color);
}

.descriptions .btn:nth-child(2):hover{
    background: var(--white_color);
    color: var(--black_color);
    box-shadow: var(--secondary_box_shadow);
}

.account_container{
    width: 100%;
    display: flex;
    height: fit-content;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem 0;
}
.account{
    width: 41rem;
    height: 11rem;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 2rem;
    padding: 1rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
    box-shadow: var(--primary_box_shadow);
    transition: 700ms ease-in-out;
}

.account:hover{
    box-shadow: var(--secondary_box_shadow);
}

.account .total_price{
    width: 16rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: var(--box_shadow);
}

.account .total_price div{
    width: 96%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    column-gap: 1rem;
    box-shadow: var(--primary_box_shadow);
}

.total_price div h1{
    font-size: 1rem;
    color: var(--main_color);
    font-weight: 700;
    letter-spacing: 1.3px;
}
.account .total_price div h4{
    font-size: 0.8rem;
}

.account .account_details{
    width: 18rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.5rem;
    flex-direction: column;
    row-gap: 1rem;
    border-radius: 5px;
    box-shadow: var(--box_shadow);
}

.account .account_details div{
    width: 97%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    box-shadow: var(--primary_box_shadow);
}

.account .account_details div h4{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: fit-content;
    column-gap: 1rem;
    font-size: 1.1rem;
    color: var(--main_color);
    font-weight: 600;
}
.account .account_details div h5{
    display: flex;
    align-items: center;
    width: 100%;
    height: fit-content;
    column-gap: 1rem;
}

.account_container .account_btn{
    width: 20%;
    height: 3rem;
    display: inline-block;
    text-align: center;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 600;
    background: var(--main_color);
    color: var(--white_color);
    transition: all 0.3s ease-in-out;
    border: none;
    cursor: pointer;
    transition: all 600ms ease-in-out;
}

.account_container .account_btn:hover{
    background-color: var(--white_color);
    box-shadow: var(--secondary_box_shadow);
    color: var(--black_color);
}

/* ======================================MEDIA REPONSIVE FOR NAV BAR ======================================= */

@media screen and (max-width: 800px){
    .cart_list_container{
       width: var(--container_width_sm);
       padding: 0;
    }

    .cart_items_container{
        width: 16rem;
        height: 20rem;
    }
    
    .cart_items{
        width: 15rem;
        height: 24rem;
    }

    .descriptions .btn{
        font-size: 0.7rem;
    }

}

@media screen and (max-width: 600px){
 .cart_list_container{
    margin-bottom: 3rem;

 }

.cart_items{
    height: fit-content;
}

.descriptions .btn{
   font-size: 0.7rem;
   height: auto;
   width: auto;
  }

  .account{
    width: 100%;
    flex-direction: column;
    height: fit-content;
  }
}

