@import url(main.css);

.container{
    margin-top: 100px;
    width: var(--container_width_sm);
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.card{
    padding: 1rem 0.5rem;
    height: 33rem;
    box-shadow: var(--primary_box_shadow);
    margin-bottom: 3rem;
}

.card:hover{
    box-shadow: var(--secondary_box_shadow);
}

.container h4{
    color: var(--main_color);
    letter-spacing: 4px;
    font-weight: 900;
    font-family: var(--font-family-monospace);
    text-shadow: 0 0 .30rem rgba(248, 50, 0, 0.445);
}
.row p{
    text-align: center;
    color: var(--black_color);
    letter-spacing: 4px;
    font-weight: 700;
}

.chats{
    height: 26rem;
    width: 100%;
    overflow-y: scroll;
    border-radius: 5px;
    box-shadow: var(--primary_box_shadow);
}
.chats.heightened{
    height: 20rem;
}
.form_group{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 96%;
    height: 5rem;
    background-color: transparent;
    padding: 0.5rem;
    position: absolute;
    bottom: 0;
    left: 2%;
    margin: auto;
}

.form-control{
    position: absolute;
    left: 13%;
    bottom: 0;
    width: 17rem;
    height: 2rem;
    max-height: auto;
    resize: none;
    box-shadow: var(--input_box_shadow);
}

.form-control::placeholder{
    color: var(--main_color);
}

.form-control:focus{
    box-shadow: var(--focused_box_shadow);
    border-color: var(--hover_color);
}

.form-control.focused{
    height: 10rem;
}

.form_group .btn{
    position: absolute;
    bottom: 20%;
    right: 14%;
}

.form_group .btn:hover{
  color: var(--white_color);
  box-shadow: var(--secondary_box_shadow);
}

.orthers_chats,.users_chats{
    max-width: 15rem;
    height: auto;
    max-height: 15rem;
    padding: 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    text-align: center;
    overflow-y: scroll;
    box-shadow: var(--primary_box_shadow);
}

.users_chats{
    margin-left: 17rem;
    width: 15rem;
}